.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -10rem;
}
.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10rem;
    gap: 0.5rem;
    color: white;
}
.f-icons{
    display: flex;
    gap: 3rem;
}
.copyright{
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;
    /* margin-top: 7rem; */
    /* gap: 4rem; */
    font-size: 0.8rem;
    color: white;
}
.f-content span{
    font-size: 18px;
}