.t-wrapper {
    padding: 0 3rem 0 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    margin-top: 20%;
}

.t-heading>* {
    font-size: 2rem;
    font-weight: bold;
}

.t-heading span:nth-of-type(2) {
    color: #FCA61F;
}

.blurr {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: 100%;
    left: -53%;
    filter: blur(72px);

}

.t-blur1 {
    left: 38rem;
    top: 16rem;
}

.t-blur2 {
    left: 0;
    top: 9rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    height: 15rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid #DDF8FE;
    /* box-shadow: 0px 19px 60px rgb(0 0 0 / 8%); */
    border-radius: 20px;
}

.testimonial>img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}
/* .testimonial>span {
   color: #788097;
}
.testimonial .swiper{
width: 100%;
height: 70%;
} 
.t-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-wrapper .swiper-pagination-bullet-active{
    color: #FCA61F;
} */
.t-wrapper .swiper-pagination-bullet-active{
    color: #FCA61F;
}